@charset "UTF-8";
* { box-sizing: border-box; }

body 
    {   font-family:Futura, Helvetica, sans-serif;
        background-color: #FAF3ED;
        text-align: center;
        background-image: url("chasing-paper-pink-puppy-pile-removable-wallpaper-swatch.jpg");
        background-repeat: repeat;
}
.wrapper { 
           width: 80%;
		   margin: auto;
           min-width: 850px;
            max-width: 1200px;
        padding: 20px;
          background-color: #EED3C9;}

h1 {
    font-family: sans-serif;
    color: #401E12;
}

#quoteDisplay {
    font-family: sans-serif;
    font-size: 25px;
    padding: 75px;
    background-color: #401E12;
    color: #FAF3ED;
}

img {
    width: auto;
    height: 400px;
}
